<app-nav></app-nav>
<body class="w-full bg-slate-50">
    <section class="flex justify-center">
        
        <form class="w-3/4 flex items-center flex-col mt-10 bg-white rounded-lg">
            <div class="flex justify-center">
                <p class="underline text-[#064F51] text-4xl flex justify-center mt-14">Recuperar Senha</p>
            </div>
            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="nome" class="block">NOME</label>
                    <input type="text" placeholder="Digite Seu nome" class="w-96 h-10 rounded-lg border p-4">
                </div>
                <div>
                    <label for="sobrenome" class="block">CELULAR</label>
                    <input type="text" placeholder="Digite seu sobrenome" class="w-96 h-10 rounded-lg border p-4">
                </div>
            </div>

            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="CPF" class="block">CPF</label>
                    <input type="text" placeholder="Digite seu CPF" class="w-96 h-10 rounded-lg border p-4">
                </div>
            </div>

            <div class="flex mt-14 mb-14">
                <a href="listar-usuario"><button type="button" class="bg-[#064F51] mr-96 w-32 h-8 rounded-lg text-white">Voltar</button></a>
                <button type="button" class="bg-[#064F51] w-32 h-8 rounded-lg text-white">Enviar</button>
            </div>

        </form>
    </section>
</body>