<app-nav></app-nav>
<body class="w-full bg-slate-50">
    <section class="flex justify-center">

        <form (ngSubmit)="adicionarVeiculo()" class="w-3/4 flex items-center flex-col mt-10 bg-white rounded-lg">
            <div class="flex justify-center">
                <p class="underline text-[#064F51] text-4xl flex justify-center mt-14">Cadastro de Veiculos</p>
            </div>
            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="modelo" class="block">MODELO</label>
                    <select [(ngModel)]="veiculo.modelo" name="modelo">
                      <option *ngFor="let modelo of modelos" [ngValue]="modelo.id">Nome: {{modelo.nome}} - Marca: {{modelo.marca}}</option>
                    </select>
                </div>

            </div>

            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="placa" class="block">PLACA</label>
                    <input type="text" placeholder="Digite a placa do veiculo" class="w-96 h-10 rounded-lg border p-4" [(ngModel)]="veiculo.placa" name="placa">
                </div>
                <div>
                    <label for="ano" class="block">ANO</label>
                    <input type="text" placeholder="Ano de fabricação" class="w-96 h-10 rounded-lg border p-4" [(ngModel)]="veiculo.ano" name="ano">
                </div>
            </div>

            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="quilometragem"class="block" >QUILOMETRAGEM</label>
                    <input type="text" placeholder="km" class="w-96 h-10 rounded-lg border p-4" [(ngModel)]="veiculo.km" name="km">
                </div>
                <div>
                    <label for="cor"class="block">Cor</label>
                    <select  value="cor"class="w-96 h-13 rounded-lg border p-4" [(ngModel)]="veiculo.cor" name="cor">
                        <option value="0">Escolha</option>
                        <option value="AMARELO">AMARELO</option>
                        <option value="BEGE">BEGE</option>
                        <option value="BRANCA">BRANCA</option>
                        <option value="CINZA">CINZA</option>
                        <option value="MARROM">MARROM</option>
                        <option value="AZUL">AZUL</option>
                        <option value="PRATA">PRATA</option>
                        <option value="PRETA">PRETA</option>
                        <option value="VERDE">VERDE</option>
                        <option value="VERMELHO">VERMELHO</option>
                    </select>
                </div>
            </div>

            <div class="mb-6 mt-10 flex items-center justify-between">
                <div class="mr-14">
                    <label for="Tipo"class="block" >Tipo</label>
                    <select class="w-52 h-14 rounded-lg border p-4" [(ngModel)]="veiculo.tipo" name="tipo">
                        <option value="0">Escolha</option>
                        <option value="CARRO">CARRO</option>
                        <option value="VAN">VAN</option>
                        <option value="CAMINHAO">CAMINHAO</option>

                    </select>
                </div>

            </div>
            <div class="flex mt-14 mb-14">
               <a href="/listar-veiculo"><button type="button" class="bg-[#064F51] mr-96 w-32 h-8 rounded-lg text-white">Voltar</button></a>
                <button (click)="adicionarVeiculo()" type="button" class="bg-[#064F51] w-32 h-8 rounded-lg text-white" >Cadastrar</button>
            </div>

        </form>
    </section>
</body>
